<div class="container-fluid likes-container">
  <div class="row">
    <div class="col-lg-11"></div>

    <div class="col-lg-1">
      <button class="close-dialog-button" (click)="closeModal()">
        x
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1>Likes</h1>
      <hr />
    </div>
  </div>
  <div class="likes-list">
    <div class="row like-container" *ngFor="let like of likes">
      <div class="col-lg-12">
        <p>{{ like.user }}, {{ like.date | date: "YYYY-MM-dd hh:mm" }}</p>
        <hr />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10"></div>
    <div class="col-lg-2">
      <button class="aws-button" (click)="addLike()">Like</button>
    </div>
  </div>
</div>
