<div class="container-fluid card-background">
  <h2>Identify Text</h2>
  <input
    type="file"
    id="imageUpload"
    name="imageUpload"
    accept="image/png, image/jpeg"
    (change)="imageSelected($event)"
  />

  <button class="aws-button" (click)="identifyText()">
    Identify Text
  </button>
  <div class="identified-text" *ngIf="identifiedText">
    Identified words:
    <div *ngFor="let word of identifiedText.text.words">
      {{ word.text }}
    </div>
  </div>
</div>
