.app-navbar {
  background-color: #232f3e;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 60px;
}

.app-navbar li {
  margin: 0 8px;
}

.welcome-text {
  color: white;
  margin-right: 16px;
}
