<nav class="navbar navbar-expand-lg navbar-dark app-navbar">
  <a class="navbar-brand" routerLink="#">
    <img src="assets/images/amplify-logo.png" width="40" height="32" alt="" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li
        *ngFor="let link of links"
        class="nav-item"
        [ngClass]="{ active: activeRoute === link.path }"
      >
        <a class="nav-link" routerLink="{{ link.path }}">{{ link.title }}</a>
      </li>
    </ul>
  </div>
  <span class="welcome-text">Welcome {{ currentUserName }}</span>
  <button class="aws-button" (click)="signOut()">Sign out</button>
</nav>
