<div class="container-fluid hero">
  <div class="row">
    <div class="col-lg-2 col-md-0"></div>
    <div class="col-lg-8 col-md-12">
      <h1>The Amplify App</h1>
      <p>
        Welcome to the showcase app for AWS Amplify. This application will
        contain functionalities that are available out-of-the-box using AWS
        Amplify and will also be hosted on AWS.
      </p>
      <p>
        This application is the result of the Amplify Blog Series that you can
        find on this
        <a
          href="https://www.luminis.eu/blog/cloud-en/the-amplify-series-part-1-what-is-aws-amplify/"
          >blog post</a
        >. You can follow the blogs and learn how to build this Amplify app
        step-by-step.
      </p>
      <p>Each page showcases a number of Amplify functionality categories.</p>
    </div>
    <div class="col-lg-2 col-md-0"></div>
  </div>
</div>

