<div class="container-fluid card-background">
  <h2>Text to speech</h2>
  <input
    type="text"
    id="textInput"
    name="textInput"
    (change)="textInputUpdated($event)"
  />

  <button class="aws-button" (click)="convertToAudio()">
    Play
  </button>
</div>
