<div class="container category-container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <h1>Amplify API</h1>
      <p>
        This page gives a live demo of the Amplify GraphQL API, Amplify Function
        and Amplify Storage categories. Posts are retrieved from the server. You
        can also add your own posts and make comments on other people's post.
        Follow part 4 of the Amplify Series Blog to find out how to build this
        yourself in no time!
      </p>
    </div>

    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <app-add-post></app-add-post>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <app-posts></app-posts>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
