<div class="container-fluid card-background">
    <h2>Interpret text</h2>
    <textarea
        id="textAreaInput"
        name="textAreaInput"
        rows="5"
        cols="66"
        (change)="textInputUpdated($event)"
    ></textarea>

    <button class="aws-button interpret-button" (click)="interpretText()">
        Interpret
    </button>
    <div *ngIf="interpretation">
        Interpretation = {{ interpretation.textInterpretation.sentiment?.predominant }}
    </div>
</div>
