.add-post {
  background-color: white;
  padding: 8px;
  box-shadow: 0 1px 1px 0 lightgrey;
  border-top: 1px solid lightgrey;
  box-sizing: border-box;
  border-radius: 0px;
}

.add-post-row {
  margin: 8px;
}

.add-post-input {
  width: 75%;
}

.add-post-button {
  width: 100%;
}
