<div class="container-fluid card-background">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <h2>Add post</h2>
    </div>
  </div>
  <div class="row add-post-row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2">Title:</div>
    <div class="col-lg-8 ">
      <input class="add-post-input" type="text" [formControl]="titleProp" />
    </div>
  </div>
  <div class="row add-post-row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 add-post-label">Description:</div>
    <div class="col-lg-8">
      <textarea
        class="add-post-input"
        [formControl]="descriptionProp"
      ></textarea>
    </div>
  </div>
  <div class="row add-post-row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div
        *ngIf="formHasErrors && (titleProp.invalid || descriptionProp.invalid)"
        class="alert alert-danger"
      >
        <div *ngIf="titleProp.errors?.['required']">
          Title is required.
        </div>
        <div *ngIf="descriptionProp.errors?.['required']">
          Description is required.
        </div>
      </div>
    </div>
    <div class="col-xs-2 col-sm-4 col-md-2 col-lg-2">
      <button (click)="handleOnSubmit()" class="aws-button add-post-button">
        Submit
      </button>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
