<div class="container category-container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <h1>Amplify Storage</h1>
      <p>
        This page gives a live demo of the Amplify storage category. Users can
        upload and view images here. You will only be able to view images that
        you have uploaded yourself.
      </p>
    </div>

    <div class="col-lg-2"></div>
  </div>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <app-image-upload></app-image-upload>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <app-image-album></app-image-album>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
