<div class="container-fluid posts">
  <div class="row">
    <div class="col-lg-12">
      <h2>Posts</h2>
    </div>
  </div>
  <div class="post-container" *ngFor="let post of posts">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <h3>{{ post.title }}</h3>
        <p class="post-description">
          {{ post.description }}
        </p>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-6">
        <p class="author-and-date">
          {{ post.author }}, {{ post.date | date: "YYYY-MM-dd hh:mm" }}
        </p>
      </div>
      <div class="col-lg-2">
        <button class="aws-button" (click)="openLikesModal(post.id)">
          {{ post.likes }} likes
        </button>
      </div>
      <div class="col-lg-3">
        <button class="aws-button" (click)="openCommentsModal(post.id)">
          {{ post.comments }} comments
        </button>
      </div>
    </div>
  </div>
</div>
