.posts {
  margin-top: 32px;
  max-height: 360px;
  overflow: scroll;
}

.post-container {
  margin-top: 8px;
  word-wrap: break-word;
  background-color: white;
  padding: 16px;
  box-shadow: 0 1px 1px 0 lightgrey;
  border-top: 1px solid lightgrey;
  box-sizing: border-box;
  border-radius: 0px;
}

.post-description {
  max-height: 240px;
  overflow: scroll;
}

.author-and-date {
  font-weight: 700;
  color: #545b64;
}
