<div class="homecard">
  <img src="{{ cardData.imgUrl }}" alt="" />
  <p class="homecard-title">{{ cardData.title }}</p>
  <p class="homecard-description">
    {{ cardData.description }}
  </p>
</div>
