.homecard {
  border: solid 1px lightgrey;
  border-radius: 8px;
  padding: 8px;
  margin: 16px 8px;
  background-color: white;
}

.homecard img {
  width: 100%;
  height: 8rem;
}

.homecard-title {
  font-weight: bold;
}
