<div class="container-fluid comments-modal">
  <div class="row">
    <div class="col-lg-11"></div>

    <div class="col-lg-1">
      <button class="close-dialog-button" (click)="closeModal()">
        x
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1>Comments</h1>
      <hr />
    </div>
  </div>
  <div class="comments-container">
    <div class="row comment-container" *ngFor="let comment of comments">
      <div class="col-lg-6">
        <p>{{ comment.user }} , {{ comment.date | date: "YY-MM-dd HH:mm" }}</p>
      </div>
      <div class="col-lg-6">
        <p class="comment-text">
          {{ comment.content }}
        </p>
        <hr />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <textarea
        class="comment-textarea"
        rows="3"
        [formControl]="commentProp"
      ></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div
        *ngIf="formHasErrors && commentProp.invalid"
        class="alert alert-danger"
      >
        <div *ngIf="commentProp.errors?.['required']">
          Comment is required.
        </div>
      </div>
      <div class="col-lg-4">
        <button
          class="aws-button"
          data-amplify-analytics-on="click"
          data-amplify-analytics-name="commentAdded"
          (click)="addComment()"
        >
          Add Comment
        </button>
      </div>
    </div>
  </div>
</div>
