.comments-modal {
  padding: 16px;
}

.comments-container {
  max-height: 240px;
  overflow: scroll;
}

.comment-text {
  max-height: 160px;
  overflow: scroll;
}

.comment-textarea {
  width: 100%;
}
