<div class="container category-container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <h1>Amplify Predictions</h1>
      <p>
        This page gives a live demo of the Amplify predictions category. Users
        can identify text in images, convert text to speech and interpret
        sentiment in text.
      </p>
    </div>

    <div class="col-lg-2"></div>
  </div>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <app-identify-text></app-identify-text>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <app-text-to-speech></app-text-to-speech>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <app-text-interpret></app-text-interpret>
      </div>
      <div class="col-lg-2"></div>
    </div>
</div>
