@import "@aws-amplify/ui-angular/theme.css";

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  background-color: #f2f3f3;
  font-family: AmazonEmber, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.aws-button {
  background-color: white;
  border: 1px solid #545b64;
  color: #545b64;
  font-weight: 700;
  border-radius: 2px;
}

.aws-button:hover {
  border: 1px solid black;
  color: black;
  background-color: rgb(231, 231, 231);
}

.close-dialog-button {
  border: 0px;
  background: transparent;
}

.category-container {
  padding-top: 16px;
}

.card-background {
  background-color: white;
  padding: 8px;
  box-shadow: 0 1px 1px 0 lightgrey;
  border-top: 1px solid lightgrey;
  box-sizing: border-box;
  border-radius: 0px;
}

.error-text {
  color: red;
}
